/* remove codrops styles and reset the whole thing */
#container_demo{
	 text-align: left;
	 margin: 0;
	 padding: 0;
	 margin: 0 auto;
	 font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;
}

/** fonts used for the icons **/ 
@font-face {
    font-family: 'FontomasCustomRegular';
    src: url('fonts/fontomas-webfont.eot');
    src: url('fonts/fontomas-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fontomas-webfont.woff') format('woff'),
         url('fonts/fontomas-webfont.ttf') format('truetype'),
         url('fonts/fontomas-webfont.svg#FontomasCustomRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FranchiseRegular';
    src: url('fonts/franchise-bold-webfont.eot');
    src: url('fonts/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/franchise-bold-webfont.woff') format('woff'),
         url('fonts/franchise-bold-webfont.ttf') format('truetype'),
         url('fonts/franchise-bold-webfont.svg#FranchiseRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
a.hiddenanchor{
	display: none;
}
/** The wrapper that will contain our two forms **/
#wrapper{
	width: 60%;
	right: 0px;
	min-height: 560px;	
	margin: 0px auto;	
	width: 500px;
	position: relative;	
}
/**** Styling the form elements **/

/**** general text styling ****/
#wrapper a{
	color: rgb(95, 155, 198);
	text-decoration: underline;
}

#wrapper h1{
	font-size: 48px;
	color: rgb(6, 106, 117);
	padding: 2px 0 10px 0;
	font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
}
/** For the moment only webkit supports the background-clip:text; */
#wrapper h1{
    background: -webkit-repeating-linear-gradient(-45deg, 
	rgb(18, 83, 93) , 
	rgb(18, 83, 93) 20px, 
	rgb(64, 111, 118) 20px, 
	rgb(64, 111, 118) 40px, 
	rgb(18, 83, 93) 40px);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
#wrapper h1:after{
	content: ' ';
	display: block;
	width: 100%;
	height: 2px;
	margin-top: 10px;
	background: -moz-linear-gradient(left, rgba(147,184,189,0) 0%, rgba(147,184,189,0.8) 20%, rgba(147,184,189,1) 53%, rgba(147,184,189,0.8) 79%, rgba(147,184,189,0) 100%); 
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(147,184,189,0)), color-stop(20%,rgba(147,184,189,0.8)), color-stop(53%,rgba(147,184,189,1)), color-stop(79%,rgba(147,184,189,0.8)), color-stop(100%,rgba(147,184,189,0))); 
	background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
	background: -o-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
	background: -ms-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
	background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
}

#wrapper p{
	margin-bottom:15px;
}
#wrapper p:first-child{
	margin: 0px;
}
#wrapper label{
	color: rgb(64, 92, 96);
	position: relative;
}

/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder  { 
	color: rgb(190, 188, 188); 
	font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{ 
	color: rgb(190, 188, 188);
	font-style: italic;
} 
input {
  outline: none;
}

/* all the input except submit and checkbox */
#wrapper input:not([type="checkbox"]){
	width: 92%;
	margin-top: 4px;
	padding: 10px 5px 10px 32px;	
	border: 1px solid rgb(178, 178, 178);
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	  -moz-box-sizing : content-box;
	       box-sizing : content-box;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	   -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;
}
#wrapper input:not([type="checkbox"]):active,
#wrapper input:not([type="checkbox"]):focus{
	border: 1px solid rgba(91, 90, 90, 0.7);
	background: rgba(238, 236, 240, 0.2);	
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	   -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
} 

/** the magic icon trick ! **/
[data-icon]:after {
    content: attr(data-icon);
    font-family: 'FontomasCustomRegular';
    color: rgb(106, 159, 171);
    position: absolute;
    left: 10px;
    top: 35px;
	width: 30px;
}

/*styling both submit buttons */
#wrapper p.button input{
	width: 30%;
	cursor: pointer;	
	background: rgb(61, 157, 179);
	padding: 8px 5px;
	font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
	color: #fff;
	font-size: 24px;	
	border: 1px solid rgb(28, 108, 122);	
	margin-bottom: 10px;	
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;	
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	   -moz-box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	        box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;
}
#wrapper p.button input:hover{
	background: rgb(74, 179, 198);
}
#wrapper p.button input:active,
#wrapper p.button input:focus{
	background: rgb(40, 137, 154);
	position: relative;
	top: 1px;
	border: 1px solid rgb(12, 76, 87);	
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	   -moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	        box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}
p.login.button,
p.signin.button{
	text-align: right;
	margin: 5px 0;
}


/* styling the checkbox "keep me logged in"*/
.keeplogin{
	margin-top: -5px;
}
.keeplogin input,
.keeplogin label{
	display: inline-block;
	font-size: 12px;	
	font-style: italic;
}
.keeplogin input#loginkeeping{
	margin-right: 5px;
}
.keeplogin label{
	width: 80%;
}


/*styling the links to change from one form to another */

p.change_link{
	position: absolute;
	color: rgb(127, 124, 124);
	left: 0px;
	height: 20px;
	width: 440px;
	padding: 17px 30px 20px 30px;
	font-size: 16px	;
	text-align: right;
	border-top: 1px solid rgb(219, 229, 232);
	-webkit-border-radius: 0 0  5px 5px;
	   -moz-border-radius: 0 0  5px 5px;
	        border-radius: 0 0  5px 5px;
	background: rgb(225, 234, 235);
	background: -moz-repeating-linear-gradient(-45deg, 
	rgb(247, 247, 247) , 
	rgb(247, 247, 247) 15px, 
	rgb(225, 234, 235) 15px, 
	rgb(225, 234, 235) 30px, 
	rgb(247, 247, 247) 30px
	);
	background: -webkit-repeating-linear-gradient(-45deg, 
	rgb(247, 247, 247) , 
	rgb(247, 247, 247) 15px, 
	rgb(225, 234, 235) 15px, 
	rgb(225, 234, 235) 30px, 
	rgb(247, 247, 247) 30px
	);
	background: -o-repeating-linear-gradient(-45deg, 
	rgb(247, 247, 247) , 
	rgb(247, 247, 247) 15px, 
	rgb(225, 234, 235) 15px, 
	rgb(225, 234, 235) 30px, 
	rgb(247, 247, 247) 30px
	);
	background: repeating-linear-gradient(-45deg, 
	rgb(247, 247, 247) , 
	rgb(247, 247, 247) 15px, 
	rgb(225, 234, 235) 15px, 
	rgb(225, 234, 235) 30px, 
	rgb(247, 247, 247) 30px
	);
}
#wrapper p.change_link a {
	display: inline-block;
	font-weight: bold;
	background: rgb(247, 248, 241);
	padding: 2px 6px;
	color: rgb(29, 162, 193);
	margin-left: 10px;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid rgb(203, 213, 214);
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s  linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s  linear;
	transition: all 0.4s  linear;
}
#wrapper p.change_link a:hover {
	color: rgb(57, 191, 215);
	background: rgb(247, 247, 247);
	border: 1px solid rgb(74, 179, 198);
}
#wrapper p.change_link a:active{
	position: relative;
	top: 1px;
}
/** Styling both forms **/
#register, 
#login{
	position: absolute;
	top: 0px;
	width: 88%;	
	padding: 18px 6% 60px 6%;
	margin: 0 0 35px 0;
	background: rgb(247, 247, 247);
	border: 1px solid rgba(147, 184, 189,0.8);
	-webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	   -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	        box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	-webkit-box-shadow: 5px;
	-moz-border-radius: 5px;
		 border-radius: 5px;
}
#register{	
	z-index: 21;
	opacity: 0;
}
#login{
	z-index: 22;
}
#toregister:target ~ #wrapper #register,
#tologin:target ~ #wrapper #login{
	z-index: 22;
	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-ms-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-delay: .1s;
	-moz-animation-delay: .1s;
	-o-animation-delay: .1s;
	-ms-animation-delay: .1s;
	animation-delay: .1s;
}
#toregister:target ~ #wrapper #login,
#tologin:target ~ #wrapper #register{
	-webkit-animation-name: fadeOutLeft;
	-moz-animation-name: fadeOutLeft;
	-ms-animation-name: fadeOutLeft;
	-o-animation-name: fadeOutLeft;
	animation-name: fadeOutLeft;
}

/** the actual animation, credit where due : http://daneden.me/animate/ ***/
.animate{
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	
	-moz-animation-duration: 0.5s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	
	-o-animation-duration: 0.5s;
	-o-animation-timing-function: ease;
	-o-animation-fill-mode: both;
	
	-ms-animation-duration: 0.5s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}

/** yerk some ugly IE fixes 'cause I know someone will ask "why does it look ugly in IE?", no matter how many warnings I will put in the article */

.lt8 #wrapper input{
	padding: 10px 5px 10px 32px;
    width: 92%;
}
.lt8 #wrapper input[type=checkbox]{
	width: 10px;
	padding: 0;
}
.lt8 #wrapper h1{
	color: #066A75;
}
.lt8 #register{	
	display: none;
}
.lt8 p.change_link,
.ie9 p.change_link{
	position: absolute;
	height: 90px;
	background: transparent;
}
















/*
Template Name: AUDVDSTORE Default
Template URI: http://www.audvdstore.com/
Description: audvdstore data.
Version: 2.7.2
Author: AUDVDSTORE Team
Author URI: http://www.audvdstore.com/
Logo filename: logo.gif
Template Type: type_0
*/

@charset "utf-8";
/* css reset */
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, select, p, th, td, hr, blockquote { margin:0; padding:0; }
body, input, button, select, textarea { font:11px/18px   Arial, Helvetica, sans-serif; }/* font reset */
h1 { font-size:18px; }
h2 { font-size:16px; }
h3 { font-size:14px; }
h4, h5, h6 { font-size:100%; }
li{list-style:none;}
address { font-style:normal; }
b { font-weight:normal; }
a, button { cursor:pointer; }
a { text-decoration:none; color:#333; }
a:hover { text-decoration:underline; }
ul, ol { list-style:none; }
fieldset, img { border:none; }
legend { color:#000; }
table { border-collapse:collapse; border-spacing:0; }
td, th{ border:1px solid #E5E5E5; padding:5px;}
html { overflow-y:scroll; }
hr { display:none; }
strong, b{ font-weight:bold;}
.clear{ clear:both; margin:0px; padding:0px;}
.blank10{ clear:both; height:10px;}
/* css reset end */

.part_container:after,.list-nav-main:after,.mod-search:after,.item-price:after,.pos_3:after,.banner-bottom:after,.list-uHere:after,.list-item:after,.mod-page:after,.item-detailsInfo:after,.list-attr .item-operate:after,.part_footer:after,.flow-shoppingCart-operate:after,.flow-user .mod-blank:after,.user-login .mod-blank:after,.flow-consigneeInfo li:after,.flow-shippingAddress-operate:after,.mod-article-list ul li:after,.item-prev-desc:after,.mod-comment .comment:after,#pager:after,#checkout-page:after,.list-article li:after,.comment_m:after,.clearfix:after { visibility:hidden; display:block; clear:both; height:0; font-size:0px; line-height:0px; content:"."; }
.part_container,.list-nav-main,.mod-search,.item-price,.pos_3,.banner-bottom,.flow-shoppingCart-operate,.list-uHere,.list-item,.mod-page,.item-detailsInfo,.list-attr .item-operate,.part_footer,.flow-user .mod-blank,.user-login .mod-blank,.flow-consigneeInfo li,.flow-shippingAddress-operate,.mod-comment .comment,#pager,.item-prev-desc,#checkout-page,.comment_m { zoom:1; _height:1px  }
.btn-checkout, .btn-addToCart, .btn-submit, .btn-continue, .btn-addWistList, .user-consigneesInfo .btn-delete, .btn-submitSign, .btn-submitGray, .submit-order, .btn-edit, .btn-addAddress, .btn-updateAddress{ background: url(images/button.gif) no-repeat; border:none; cursor: pointer; }
.part_header .mod-logo h1, .bb3 h2, .item-top10 h2 { font-size: 0; line-height: 0; text-indent: -1000px;}

/* part start */
html, body{ width:100%;}
body{ line-height:18px;} 
.part_main{ width:960px; margin:0 auto; padding:0px 10px; clear:both;}
/* head_top start */
.head_top{ background:#454545; height:20px; color:#FFF; line-height:20px;}
.top_c{ width:960px; margin:0px auto; padding:0px 10px;}
.welcome{ display:inline; float:left; width:380px; margin-left:20px;}
.top-member-info{ float:right;}
.top-member-info a{ color:#FFF; padding:0px 3px;}
.top-member-info ul li {float: left;}
/* part_head start */
.part_header{ position:relative; height:120px; width:100%;}
#flow .part_header{height:80px;}
.mod-logo{ position:absolute; top:0px; left:0px;}
.mod-search{position:absolute;  top:10px; right:110px; width:400px; padding: 3px 5px; height:32px; background:#f1f1f1;-moz-border-radius:3px;-webkit-border-radius:3px;}
.hot_search{ position:absolute; top:56px; right:30px;}
.hot_search a{ padding:0px 3px;}
#keyword{ width:305px; height:24px; line-height:24px; padding:2px 5px; border:#ccc 1px solid;}
#searchForm .btn-search{ height:30px; line-height:30px; font-size:16px; width:78px; background:url(images/search.gif) no-repeat; border:none; font-weight:bold; cursor:pointer; color:#ff5200; text-transform:capitalize;text-shadow: 0 1px 0 #f1f1f1;}
.live-help{position:absolute; top:9px; right:0px;}
.live-help .live_a{ display:block; font-size:14px; font-weight:700; color:#454545; width:65px; height:40px; background:url(images/email-orange.png) no-repeat; text-indent:60px; line-height:34px;}
.nav-main{ width:800px; height:30px; position:absolute; line-height:30px; top:80px; left:0px; border:#37a8a3 1px solid; -moz-border-radius:3px;-webkit-border-radius:3px;}
.nav-main ul li{ height:28px; float:left; text-align:center; font-size:14px; font-weight:700; display:inline;}
.nav-main ul li a{ color:#454545; float:left; padding:0px 9px;}
.nav-main ul li a:hover, .nav-main ul li.mod-curs a{ text-decoration:none; color:#fff; background:#37a8a3;}
.nav-main .mod_home{ width:40px;}
.nav-main ul li.mod_home a{ background:none;}
.nav-main .list_nav_1:hover, .nav-main .list_nav_2:hover, .nav-main .list_nav_3:hover, .nav-main .list_nav_4:hover, .nav-main .list_nav_5:hover, .nav-main .list_nav_6:hover, .nav-main .list_nav_7:hover{ border-bottom:#37a8a3 2px solid;}

/* part_container start */
.part_container{ padding-top:5px;}
.item-new-list .price-now{font-size:14px;}
.item-releate .price-now span,.price-shop{font-size:14px;}
.item-releate .item-name h2{font-size:11px; font-weight:normal;}
.price-now, .item-history .f1,.price-shop{ color:#DD0300; font-weight:bold;}
.price-was, .history_market_price{ text-decoration:line-through; color:#454545;}
.more{ border-bottom:#454545 1px dashed;}

.nav-uHere{ height:30px; line-height:30px; border-top:#e5e5e5 1px dashed; margin-bottom:5px;}
.nav-uHere .mod-title{ display:none;}
.list-uHere li{ float:left; margin-right:10px;}
.list-uHere li a {background: url(images/ic.gif) no-repeat 0px 5px; padding-left: 8px;}
.part_col-1{ width:190px; float:left; display:inline; margin-right:10px;}
.part_col-2{  width:760px; float:left;}
.part_col-2 .part_left{display:inline; float:left; margin-right:10px;}
.part_col-2 .part_right{ width:190px; float:right;}
.part_col-3 .part_left{ width:760px; display:inline; float:right; margin-left:10px;}
.part_col-3 .part_right{ width:190px; float:left;}

/* part_col-1 start */
.part_col-1 .mod-title, .mod_categories .mod-title, .part_col-3 .part_right .mod-title, .part_col-2 .part_right .mod-title{ width:190px; font-size:14px; color:#FFF; text-align:center; line-height:26px; font-weight:bold; background:url(images/left_tit.gif) no-repeat; height:22px; margin:0px; border:none;}
.part_col-1 .mod-blank, .part_col-2 .part_right .mod-blank, .part_col-3 .part_right .mod-blank{ border:#37a8a3 1px solid; border-top-width:4px; width:188px; padding:5px 0px; margin-bottom:10px;}
.part_col-3 .mod-tag-index .mod-blank{ width:168px; padding:10px;}
.mod_categories dl dd, .nav-siderBar-user dl dd{ border-top:#e5e5e5 1px solid;}
.mod_categories dl dt, .mod_categories dl dd, .mod-article-index li, .nav-siderBar-user dl dd, .nav-siderBar-user dl dt{ height:22px; text-indent:10px; line-height:22px;}
.mod_categories dl a{ font-size:12px; color:#000;}
.mod-article-index li{border-bottom:#e5e5e5 1px solid;}
.list-article li {position: relative;}
.part_col-3 .mod-article-index li span{ position:absolute; right:10px;}
.mod-more{ text-align:right; margin-right:14px; display:block;}

/* part_col-2 start */
.banner-flash{ width:750px; height:285px; border:#9ededb 2px solid; -moz-border-radius:3px;-webkit-border-radius:3px; margin-bottom:10px;}
.ad2 img{ border:#cccccc 1px solid; -moz-border-radius:5px;-webkit-border-radius:5px; margin:10px 4px 5px 4px;}
.part_col-2 .mod-title, .item-rHot-list .mod-title span , .flow-wishList .mod-title, .part_col-4 .item-rHot-list .mod-title{ height:22px; margin-left:10px; line-height:26px; text-align:center; font-size:14px; color:#454545; font-weight:bold; border-bottom:#37a8a3 4px solid; padding:0px 10px;}
.part_col-2 .mod-title,.flow-wishList .mod-title, .part_col-4 .item-rHot-list .mod-title{ width:140px;}
.part_col-4 .item-rHot-list .mod-title{ background:none; margin-top:10px; text-indent:0px;}
.item-rHot-list .mod-title, .part_col-4 .item-rHot-list .mod-title{ width:340px; }
.item-search_list .mod-title span{ display:block;}
.part_col-2 .mod-blank, .flow-wishList .mod-blank, .part_col-4 .item-rHot-list .mod-blank{ border:1px solid #37a8a3}
.mod_tab_3 #tab_description .mod-blank{padding:10px;}
.item-detailsInfo .mod-blank{ border:none;}
.part_col-4 .item-rHot-list .mod-blank .item{ margin:10px 9px;}
.bb3 .mod-blank ul, .item-best-list .item, .item-search-list .mod-blank .item, .part_col-2 .mod-blank .item, .item-rHot-list .mod-blank .item{ width:140px; height:210px; overflow:hidden; float:left; margin:10px 5px;}
.bb3 .price-now, .goods_list .price-now{ font-size:14px;}
.goods_list .goods_item .price .f4{ font-size:14px; font-weight:bold; color:#DD0300;}
.goods_list .goods_grid .price, .goodslist-price{ text-align:center;}
.item-r-new-list ul{  width:135px; height:190px; overflow:hidden; float:left; margin:5px 6px;}
.part_col-2 .item-r-new-list ul .item-img{width:124px; height:134px; text-align:center;}
.part_col-2 .item-r-new-list ul .item-img img{ width:100px; height:100px;}
.bb3 .mod-blank .item-img, .part_col-2 .mod-blank .item-img, .part_col-4 .item-rHot-list .mod-blank .item-img{ width:134px; height:154px; border:#e6fffe 3px solid; -moz-border-radius:3px;-webkit-border-radius:3px; overflow:hidden; text-align:center;}
.part_col-2 .mod-blank .item-img img{ width:120px; height:120px; margin:18px auto;}
.bb3 .item-name, .item-search-list .item-name, .goods_list .goods_grid .name{height:36px; margin:0px auto; overflow:hidden;}
.bb3 .item-price, .item-search-list .item-price{ height:18px;overflow:hidden;}
.item-search-list .list-item{ margin-bottom:10px;}
.mod-more a:hover{ text-decoration:none;}
.item-des, .item-desship, .item-operate, .tab_content_3 .mod-comment .mod-title{ display:none;}

.mod-page div { display: inline-table;}
.list-uHere li, .list-page-nub { float: left; margin-right: 10px;}
.list-page-nub li, .mod-page-total {float: left; margin-right: 6px;}
.mod-page-total{ margin-left:10px;}
#pager .nav-page-nub li { float: right; margin-left: 8px;}
.mod-comment-sum { font-size: 12px; color: #333; font-weight: 700; line-height: 30px;}
.mod-page{ margin-top:5px;}
#clear_history, .form-page, .mod-page {text-align: right;}
.list-page-nub li a { border: #CCC 1px solid; height: 20px; width: 20px; line-height: 20px; text-align: center; display: block; background-color: white;}
.list-page-nub li .nav-page-first{ width: 40px; background:#CCC;}
.list-page-nub li a.nav-page-prev, .list-page-nub li a.nav-page-next, .list-page-nub li a.nav-page-last { border: 0; width: auto; display: inline; background: none; border-image: initial;}
/* part_col-3 start*/

.ad_left{border:1px solid #E5E5E5;-moz-border-radius:3px;-webkit-border-radius:3px; float:left; margin-right:15px;}
.ad_right{border:1px solid #E5E5E5;-moz-border-radius:3px;-webkit-border-radius:3px; float:right; }

/* top 10*/
.item-top10 .list-item .item{ border-top:#e5e5e5 1px solid; padding:3px 5px; height:70px;}
.item-top10 .list-item .item-1{ border-top:none;}
.item-top10 .item .item-img{ float:left; width:65px; height:65px; margin-top:3px; margin-right:5px; text-align:center;}
.item-top10 .item:hover .item-img{ margin-top:1px;} 
.item-top10 .item .item-img img{ width:65px; height:65px;}
.item-top10 .list-item .item-name, .item-top10 .item-price{ width:105px; float:right; padding:0px;}
.item-top10 .list-item .item-name b{ padding-right:5px; color:#c00;}
.item-top10 .list-item .item-name{ line-height:16px;}
.item-top10 .item:hover{ }
.item-top10 .item:hover .item-name a{ color:#ff5200; text-decoration:underline;}
.item-top10 .item-price{ text-align:left; font-size:12px;}
.item-price{ width:98%; margin:0px auto; text-align:center;}
.item-history .list-item .goodsimg{ height:100px; width:100px; margin:5px auto 10px auto;}
.item-history .list-item .goodsimg img, .item-releate img{height:98px; width:98px;}
.item-history .list-item, .item-releate .list-item,.item-best-list .mod-blank ul{ width:170px; margin: 0px auto; text-align:center;}
.item-releate img:hover{width:100px; height:100px;}
.item-releate .item-img{height:100px; height:100px; overflow:hidden;}

/* goods start*/
.item-detailsInfo{ position:relative; border:1px solid #37a8a3; margin-bottom:10px;}
.item-detailsInfo .item-detailsImg {width: 350px; float: left; margin: 15px 0px 10px 0px;}
.item-detailsInfo .item-img-big{ margin:0px auto; border:#e5e5e5 1px solid;  -moz-border-radius:3px;-webkit-border-radius:3px; width:320px; height:320px; overflow:hidden;}
.item-detailsInfo .item-img-big img{ margin:5px auto; display:block;}
.item-detailsInfo .goods-title{ text-align:center;}
.item-detailsInfo .goods-title h1{ line-height:30px; padding:10px 0px 0px 20px; font-size: 16px; color: #0F0F0F; font-weight: 700;}
.item-detailsImg .item-img-gallery{ width:350px; height:80px; padding:10px 10px 0px 15px;}
.item-img-gallery .item-gallery li{ width:60px; height:60px; border:#ccc 1px solid; float:left; display:inline; margin-right:10px; padding:5px;}
.item-img-gallery .item-gallery li img, .item-prev-desc img{ width:60px; height:60px;}
.guize{ width:300px; margin: 10px auto 0 auto;}
.item-detailsInfo .mod-item-attr { width: 400px; min-height: 350px; float: right; position: relative; margin-top:10px;}
.pro-weight { padding: 3px 0; clear:both;  line-height:20px; font-size:12px;}
.goods-price .attr-title, .pro-weight .attr-title{ font-size:12px; font-weight:bold; width:110px; display:block; float:left; color:#454545;}
.user-login-opearte a, .get_password, .list-attr .item-goodfreeshipping, .item-goodfreeshipping a, .list-attr .item-rank a, .item-prev-desc a, .mod-anonymous a {color: #FD662B;}
.mod_tab_3 .pos_3 li { height: 24px; float: left;line-height: 24px; font-size: 12px; font-weight: 700; cursor: pointer; width: 140px; text-align: center; margin-right: 2px; display: inline; }

.curs_title{ background: url(images/goods_tit2.gif) no-repeat; color:#fff; font-size:14px; padding:2px 0 4px 40px; border-bottom:#37a8a3 2px solid;}
.cc{ background: url(images/goods_tit2.gif) no-repeat; color:#fff; font-size:14px; padding:2px 0 4px 5px; margin-top:15px; border-bottom:#37a8a3 2px solid;}
.mod-comment .mod-blank{ padding:10px;}
.mod_tab_3 .tab_content_3{ border:#37a8a3 1px solid; border-top:#37a8a3 4px solid; margin-bottom:10px;}
.btn-addToCart{width: 162px; height:45px;  background-position:0px -84px; float: left; margin: 10px 10px 0 0; display: block;font-size:16px;}
.btn-add-To-Cart{width: 150px; height:45px;background: url(images/buyitnow.jpg) no-repeat;float: left; margin:20px 10px 0 0;font-size:16px; padding:3px 0 0 23px;}
.btn-addWistList, .btn-addAddress{ width:190px; height:45px; background-position:0px -180px;float: left; font-size:14px;}
.mod-item-attr .item-operate a{font-weight:bold; text-indent:26px; color:#fff; line-height:40px;margin: 10px 10px 0 0;}
.btn-addWistList:hover, .btn-addToCart:hover{ text-decoration:none;}
.mod-item-attr .item-operate{ display:block; margin-top:15px;}
.item-prev-desc{ position:relative; height:100px;}
.item-prev-desc .item-prev{ padding-right:30px;}
.tab_content_3 .mod-blank { border: none; padding: 10px;}
.form-comment-operate .btn-submit { margin: 10px 0px 5px 150px;}
.btn-submit, .btn-updateAddress{ width:140px; height:45px;  background-position:0px -35px; line-height:45px; font-size:14px; font-weight:bold;  color:#fff; border:none;}
.submit-order {width: 162px; height:45px;  background-position:0px -84px; font-size:16px; font-weight:bold;  color:#fff; border:none;}
.submit-order-gray { width: 137px; height: 30px; background: url(images/gttogray.gif) no-repeat; font-size: 0px; line-height: 0px; text-indent: -999px; border: none; border-image: initial; cursor:pointer;}
.mod-item-attr .goods-price{ padding-top:10px;  font-size:26px; height:30px;}
/* search start*/
.caption{ position:relative;height:30px; padding:5px 0px; background:#f7f7f7; margin-bottom:10px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.caption .sort .pic{ position:absolute; top:12px; left:435px;}
.caption .sort .pic_select{ position:absolute; top:10px; right:70px;}
.caption .sort .diplay{ position:absolute; top:10px; left:370px; line-height:22px; font-size:14px;}
.caption .sort .go{  position:absolute; top:12px; right:20px;}
.goods_list .goods_item .img{float:left; width:120px; height:120px; margin:10px; display:inline;}
.goods_list .goods_item .img img{ width:120px; height:120px;}
.goods_list .goods_item li{ clear:both; border-bottom:#ccc 1px dashed; margin-bottom:5px; height:150px; vertical-align:middle; position:relative;}
.goods_list .goods_item h6{ text-indent:0px; padding:0px; font-size:14px; margin-bottom:8px;}
.goods_list .goods_item .price{width:110px; float:right; text-align:center; padding-top:35px;}
.goods_list .goods_item .brief{ width:470px; float:left; overflow:hidden; padding-top:20px;  margin:0px 10px; display:inline; font-size:12px;}
.goods_list .goods_item .briefinfo a{ color:#ff5200;}
.goods_list .goods_grid{ padding-left:5px;}
.goods_list .goods_grid li{ width:180px; float:left; display:inline; margin:10px 4px;}
.goods_list .goods_grid li .img{width: 170px; height: 170px; border: #E6FFFE 3px solid; -moz-border-radius: 3px; -webkit-border-radius: 3px; overflow: hidden; padding-top:18px; text-align:center;}
.item-add_link .add_to_car{ display:block; width:90px; height:24px; background:#37a8a3; line-height:24px; color:#fff; font-size:13px; text-align:center; font-weight:700; margin:8px auto 0px auto; }
.item-add_link .add_to_car:hover{ background:#0ec1b9; text-decoration:none;}

.item-noSearchResult, .search_tips{ padding:10px; font-size:12px;}
.SortByLetter{width:760px; height:33px; line-height:33px; color:#555;}
.SortByLetter b{height:33px; line-height:33px; float:left; padding-left:8px; font-size:14px; display:block; padding-right:10px;}
.SortByLetter ul{ float:left;}
.SortByLetter ul li{ float:left; display:block; padding:0 8px;height:33px; line-height:33px;}
.SortByLetter ul li a{ font-weight:bold; color:#666;}

/* flow start*/
.mod-shoppingCart-follow .mod-title{ background:#e5e5e5; color:#454545; font-size:14px; font-weight:bold; margin:10px 0px; width:100%; height:24px; line-height:24px; text-indent:20px;}
#formCart table, .user-profile table, .user-consigneesInfo table, .user-order-list table, .user-favorite table, .user-order-status table, .user-order-item table, .user-order-feeTotal table, .user-order-consigneesInfo table, .user-order-otherInfo table, .user-msg table, .form-msg table, .form-comment table { width: 100%;}
.mod-shoppingCart-tf{ height:40px; }
.mod-shoppingCart-tf li{ padding:5px; font-weight:bold; text-align:center;}
.flow-shoppingCart-operate{ clear:both; margin-top:20px;}
.mod-shoppingCart-delete a:hover{ color:#ff5200;}
.mod-shoppingCart-tf .tot{ font-size:16px;}
#AUTO_TOTAL{  color:red; font-size:20px;}
#AUTO_TOTAL span{ font-size:14px; color:#000; line-height:24px;}
.btn-checkout, .btn-continue{width:150px; height:45px;font-weight:bold; background-position:-1px -130px; display:block; color:#fff; border:none; text-align:center; line-height:45px;}
.btn-checkout{ float:right; font-size:16px;}
.btn-continue{float:left; font-size:12px;}
.btn-continue:hover, .btn-checkout:hover, .btn-delete:hover{ text-decoration:none;}
.mod-shoppingCart-name{ width:450px;}
.mod-shoppingCart-name img{ width:90px; height:90px;}
.itemName-cart{ margin-top:10px; display:block; width:300px;}
.itemImg-cart{ display:block; width:120px;}
.user-consigneesInfo .btn-delete, .btn-submitSign, .btn-submitGray{width:90px; height:30px;font-weight:bold; background-position:-1px -5px; display:block; color:#fff; border:none; text-align:center; line-height:30px;}
.btn-submitGray{ background-position:-102px -5px;}
.btn-submitSign, .btn-submitGray{ font-size:14px; margin-top:10px;}
.freeshipping-info{ margin-top:10px;}
.flow-stepImg{ position:absolute; right:0px; top:10px; text-align:right;}
.flow-user-login, .flow-user-register{ float:left; width:400px; margin-top:10px;}
.flow-user-register{ padding-left:100px; border-left:1px dashed #ccc;}
.flow-user table caption, .user-login table caption { font-size: 16px; font-weight: 700; line-height: 30px; text-transform: capitalize; text-align: left;}
.follow-tdTitle, .user-tdTitle { text-align: left; display: block; font-weight: bold; margin: 0 5px 0 0;}
.flow-user table, .user-login table { width: 94%; margin: 0 auto;}
.flow-user .input-txt input, .user-login .input-txt input, .form-user-info .input-txt input, .form-user-resetPassword .input-txt input, .form-checkConsignee-user .input-txt input { width: 200px; height:18px; padding:4px 5px; border:1px solid #ccc;}
.form-checkConsignee-user select{width: 210px; height:22px;}
.follow-userLogin-operate, .follow-userRegister-operate, .mod-anonymous {padding: 0 0 0 18px;}
.flow-user td, .flow-user th, .user-login td, .user-login th, .loo_n_2 td, .loo_n_2 th, .loo_n_1 td, .loo_n_1 th {border: 0;}
.quick-check{ clear:both; font-size: 16px; font-weight: 700; text-indent: 20px;line-height: 30px;}
.part_col-1 .widget_panel { padding:10px; width:168px; }
.part_col-2 .widget_panel{ padding:10px;}
.part_col-2 .widget_panel .mod-blank{ border:none;}

/* part_footer about us start*/
.mod-about{ width:374px; float:left; display:inline;}
.wholesaledvd{ width:374px; float:right;}
.wholesaledvd .mod-blank, .mod-about .mod-blank{ padding:10px; border:#cccccc 1px solid; border-top:none; -moz-border-radius:0px 0px 3px 3px;-webkit-border-radius:0px 0px 3px 3px;}
.part_footer{ clear:both; width:960px; padding:10px; margin:0px auto;}
.mod-fLink span{ font-size:14px; font-weight:bold; color:#DD0300;}
.mod-help{ height:150px; overflow:hidden; margin-top:10px;}
.mod-about .mod-title, .wholesaledvd .mod-title,.mod-help .mod-title, .flow-user .mod-title, .site-title, .part_col-4 .mod-title,.bb3 .mod-title{ height:22px; background:#37a8a3; color:#fff; font-size:14px; font-weight:bold; line-height:22px; text-indent:20px;}
.item-sort, .items-sort, .mod-modify {position: absolute; right: 15px; top: 2px;}
.bb3{margin-bottom:10px;}
.mod-help .mod-blank dl{ width:160px; float:left; margin-left:30px; display:inline;}
.mod-help .mod-blank dl dt{ font-size:14px; font-weight:bold; height:30px; line-height:30px; margin-top:10px;}
.nav-bottom, .mod-copyRight, .ico{ text-align:center;}
.ico{ margin-top:10px;}

/* lightbox */
.over_layer { position:absolute; top:0; z-index:999; width:100%; background:#000; opacity:0.1; filter:alpha(opacity=10); -moz-opacity:0.1; }
.highlight_layer { position:absolute; left:50%; z-index:1000; width:500px; height:200px; border:2px solid #ccc; margin:300px 0 0 -252px; padding:80px 20px 20px; text-align:center; background:#fff; }
#lay-wrapper .highlight_layer { top:0px; }
.highlight_layer input { overflow:hidden; width:76px; border:none; text-indent:-1000px; display:block-inline; margin:0 auto; }
/* lightbox end */

.order-ID { font-weight:bold; font-size:14px; color:#800; }
.txt-r { text-align:right; }

/*articles start*/
.nav-article dl dd{ height:24px; border-top:#ccc 1px solid; text-indent:20px; line-height:25px;}
.nav-article dl dt{ font-size:12px; font-weight:bold; text-indent:10px;}
.mod-article-list .articleList-news,.mod-article-list .articleList-title{ height:20px; line-height:20px; position:relative;}
.mod-article-list .articleList-title{ font-size:12px; font-weight:bold; margin-top:10px;}
.articleList-news .articleList-name, .articleList-title .articleList-name{ position:absolute; top:0px; left:10px;}
.articleList-news .articleList-date{ position:absolute; top:0px; right:10px;}
.articleList-title .articleList-date{ position:absolute; top:0px; right:20px;}
.form-msg{ margin-top:10px;}
.user-msg table th, .form-msg table th, .form-comment table th {text-align: right; width: 20%;}
.form-msg .mod-captcha {vertical-align: middle;}
.mod-article-details .mod-blank{ padding:10px;}
.articleDetails-title, .articleDetails-date{ text-align:center; display:block;}
.mod-relevant-article .list-article li{ margin:5px 10px; border-bottom:#d9d7d7 1px dashed;}
.mod-article-list .mod-blank{ margin-bottom:10px;}
.mod-comment textarea, .form-msg textarea, .user-consigneesInfo textarea { height: 100px; width: 350px; border: 1px solid #CCC;}
/* user start*/
.btn-logout { width: 78px; height: 22px; margin: 0 0 0 10px; text-decoration: underline; font-weight: bold; display: block;}
.nav-siderBar-user dl dt{ font-weight:bold; }
.user-profile table th, .user-consigneesInfo table th {text-align: right; width: 35%; border: none; border-image: initial;}
.user-profile table td, .user-consigneesInfo table td { text-align: left; border: none;border-image: initial;}
.user-info-operate .btn-submit { margin: 5px 0 5px 265px;}
.btn-edit { width: 140px; height: 45px; background-position: 0px -35px; float: left; margin-right: 20px;font-size:14px; font-weight:bold; color:#ffffff;}
.user-consigneesInfo .btn-delete{ margin-top:10px;}
.btn-addAddress{ font-weight:bold; font-size:14px; color:#fff; text-indent:20px; text-align:left; line-height:45px;}
.form-user-register, .form-login-user { float: left; width: 400px; display:inline;padding: 10px; margin-top:10px;}
.form-user-register{ padding-left:100px; width:300px; border-left:1px dashed #ccc;}
.sign-title { margin: 10px 10px 10px 15px; font-size: 16px; font-weight: bold;}
.flow-userLogin-operate, .user-login-opearte { padding-left: 18px;}
.part_col-4 .mod-systemMsg .mod-blank{margin:10px auto; text-align:center;}

.mod_error{ background:url(images/404.gif) no-repeat center 10px; height:275px; margin:10px 0px; font-size:12px;}
.error-con{ padding: 165px 0px 0px 20px; width:500px; margin:0px auto;}
.mod_error strong{ font-family:Georgia, "Times New Roman", Times, serif; color:#ff5200; font-size:50px; line-height:80px;}
.error-con a{ color:#ff5200;}

.Curren{ float:right; width:220px; margin-right:10px; display:inline;}
.Curren li {float: left;display: inline;padding: 0px 3px;}
.Curren li img{ margin-top:3px;}
.mod-tag-index .mod-blank a{ padding-right:5px;}
.notice{ font-size:13px; height:36px; line-height:36px; background:#fff; color:#cc232a; font-weight:700; padding:0px 10px; margin-bottom:5px; border:2px solid #e01b1b;}
.notice strong{ color:#000; font-size:16px;}
.list-msg{padding:5px;}
.feedback-name{background:#ededed; padding:2px 0 2px 5px; margin-bottom:5px; font-size:12px;}
.item-feedback-user_name{line-height:18px; padding:5px; border-bottom:1px dashed #ccc; margin-bottom:8px; color:#37a8a3; text-align:right;}
.item-feedback-user_name span{ padding-left:5px;color:#adadad}
.item-feedback-content{text-indent:2em; color:#595959}

.mod-shoppingCart{position:absolute; top:82px; right:10px; background:url(images/car.gif) no-repeat; height:30px;line-height:30px; }
.mod-shoppingCart .carttitle{ position:relative; padding-left:30px; z-index:999999999;}
.mod-shoppingCart .carttitle ul{display:none;position:absolute; right:0px; top:30px; width:220px; background:#fff; border:1px solid #29a2a2; border-top:3px solid #29a2a2; padding:5px 10px; -moz-border-radius: 5px; -webkit-border-radius: 5px;border-radius: 5px; box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2);-moz-box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2); -webkit-box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2);}
.mod-shoppingCart:hover .carttitle ul{display:block;}
.mod-shoppingCart .carttitle .top_cart_total{ padding:7px 0px 0px 10px; height:27px; font-size:16px; color:#c00; font-weight:700;}
.top_cart_img{ float:left; width:60px; height:60px; margin:3px 0px 10px 0px;}
.top_cart_img img{ width:60px; height:60px;}
.carttitle ul li{ padding:5px 0px; clear:both;}
.top_cart_info{ float:right; width:150px; line-height:16px; font-size:12px; text-align:left;font-weight:normal; margin-bottom:10px; overflow:hidden;}
.mod-shoppingCart .top_cart_info a{ font-weight:normal; font-size:12px;}
.mod-shoppingCart .carttitle .top_cart_info a:hover, mod-shoppingCart .carttitle .top_cart_total:hover{ color:#c00;}
.mod-shoppingCart .top_cart_info span{ color:#c00; font-weight:700;}
#top_cart_sum{ color:#c00; font-size:12px;}
.list-uHere .mod-curs{ background: url(images/ic.gif) no-repeat scroll 0 5px;padding-left: 8px;}
.skype{ position:relative; margin-bottom:10px;}
.skype span{ position:absolute; top:35px; left:285px; line-height:40px; font-family:Georgia; font-size:40px; color:#fd5a0f;}
.checkout-btn{ background: url(images/top_cart_check.jpg) no-repeat; width:123px; height:26px; display:block}
.top_cart_delete{ position:absolute; right:3px;}
.goods_list .goodsimg{width:148px; height:148px;}
.goods_list .goodsimg:hover{width:150px; height:150px;}
#login_username_notice, #login_password, .block-notice-user, #first_name_error_msg, #zipcode_error_msg, #last_name_error_msg, #last_name_error_msg, #address_error_msg, #tel_error_msg, #sign_building_error_msg, #best_time_error_msg, #email_error_msg, #country_error_msg, .require-field{color:#F00;}
.user-index .mod-blank{ padding:10px; font-size:12px;}
#CHECKOUT_CONSIGNEE_INFO_PANEL .input-txt { width: 225px; height: 18px; padding:3px 5px;}
#CHECKOUT_CONSIGNEE_INFO_PANEL select{ height:22px;width: 235px;}
.flow-items-Info .item-price{ width:auto;}
#CHECKOUT_TOTAL_PANEL table{ width:100%;}
.bb3 .mod-blank .item-img img{width:118px; height:118px;}
.bb3 .mod-blank .item-img img:hover{width:120px; height:120px;}
/* index-flash start */
.index-flash{width:756px; height:280px;border:1px solid #ccc; padding-bottom:5px; position:relative; margin-bottom:10px;}
.flash-content li{float:left; width:22%; overflow:hidden;padding:0 8px 0 8px; text-align:center;}
.flash-content li a{color:#000;text-align:center; font-size:12px; font-weight:bold;}
.flash-content-img{ width:756px; height:230px; overflow:hidden;}
.flash-content li a:hover{color:#DB3E41}
.notch{margin-bottom:5px; position:relative;height:10px; overflow:hidden;}
.notch li{float:left;}
.notch img{position:absolute; left:0; top:0; margin-bottom:-5px;}
/* index-flash end */
.related_tags span{padding:0 5px; line-height:24px; display:block; color:#666;}
.related_tags span a{ margin-right:5px;}